<%- include ('./templates/header.ejs') %>
    </head>

    <body>
        <header>
            <nav class="navbar">
                <div class="navbar-title">Profiles</div>
                <div class="search-container">
                    <input id="searchBar" type="text" placeholder="Search..." >
                    <button class="search-button" onclick=search()><i class="fa fa-search"></i></button>
                </div>

            </nav>
        </header>
        <section id="content-body">
            <div class="grid-container">
                <div class="grid-item large">
                    <div class="data-body" id="data-body">
                        <% if (userData.length !=0) { %>
                            <% for ( user of userData ){ %>
                                <div class="box">
                                    <div class="inBoxLeft">
                                        <div class="profilePicture"
                                            style="background-image: url('<%= user.profileImage %>');"></div>
                                        <div style="width: 75px;"></div>
                                        <div class="profileDetails">
                                            <h3 id="d_name">
                                                <%=user.username %>
                                            </h3>
                                            <p id="d_email">
                                                <%=user.email %>
                                            </p>
                                            <p id="d_phone">
                                                <%=user.phone %>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="inBoxRight" id="inBoxRight-<%= user._id %>">
                                        <p id="id" hidden>
                                            <%= user._id %>
                                        </p>
                                        <p id="Edname" hidden>
                                            <%= user.username %>
                                        </p>
                                        <p id="Edemail" hidden>
                                            <%= user.email %>
                                        </p>
                                        <p id="Edphone" hidden>
                                            <%= user.phone %>
                                        </p>
                                        <p id="Edprofile" hidden>
                                            <%= user.profileImage %>
                                        </p>
                                        <button class="edit-btn">edit</button>
                                        <button class="delete-btn">delete</button>
                                    </div>
                                </div>
                                <% } } else { %>
                                    <h1>No Data Found</h1>
                                    <% } %>
                    </div>
                </div>
                <div class="grid-item small">
                    <div class="container">
                        <h1 id="form-title">User Registration Form</h1>
                        <form id="user-form" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="username">Username:</label>
                                <input type="text" id="username" name="username" placeholder="Enter your username"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" placeholder="Enter your email address"
                                    required>
                            </div>
                            <div class="form-group">
                                <label for="phone">Phone Number:</label>
                                <input type="tel" id="phone" name="phone" maxlength="10" pattern="[0-9]{10}"
                                    placeholder="Enter your phone number" required>
                            </div>
                            <div class="form-group">
                                <label for="userProfile">Profile Picture:</label>
                                <input type="file" id="userProfile" name="userProfile" accept="image/*" required>
                                <p id="insertedFile" style="position: relative;left: 50px;font-size: small;"></p>
                            </div>
                            <div class="button-group">
                                <button type="submit" id="formSubmitBtn" style="background-color: #4CAF50;">Add
                                    User</button>
                                <button type="button" id="formResetBtn" onclick=clearForm()>Reset</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </section>
        <footer>
            <div class="footer">
                <button class="pagination-btn" id="prv-0"><< Prev</button>
                <button class="pagination-btn" id="nxt-0">next >></button>
            </div>
        </footer>
    </body>
    <script src="./javascript/add.js"></script>
    <!-- <script src="./javascript/search.js"></script> -->
    <script src="./javascript/edit.js"></script>
    <script src="./javascript/delete.js"></script>
    <script src="./javascript/pagination.js"></script>
    <script src="./javascript/searchpagination.js"></script>
    <script>
        function clearForm() {
            $('#user-form')[0].reset();
            $('#update-form')[0].reset();
        }
    </script>

    </html>